.App-chatroom-container {
  overflow: hidden;
}

.App-chatroom {
  height: calc(100vh - 60px - 50px);
  overflow-y: scroll;
  background-color: silver;
  display: flex;
  flex-direction: column-reverse;
}
.App-chatroom-text {
  margin: 8px;
}

.App-textbox {
  height: 50px;
  background-color: gray;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App-chatroom-text-default {
  background: grey;
}
.App-chatroom-text-mine {
  background-color: rgb(201, 138, 138);
}